body {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hide {
    display: none;
}
.game-area {
    position: relative;
    background-color: lightskyblue;
    width: 100%;
    height: 93vh;
    margin: 0;
}
.game-start {
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: rgb(81, 81, 189);
    top: 200px;
    left: 0;
    text-align: center;
    padding: 20px;
    color: lightblue;
}
.score {
    background-color: indigo;
    color: whitesmoke;
    text-align: right;
}
.wizard {
    position: absolute;
    width: 82px;
    height: 100px;
    background-image: url(./images/wizard.png);
    background-size: cover;
}